header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 30px;
    background-color: var(--azul);
    color: var(--branco);
    font-size: 1rem;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 30%;
}

header li {
    margin-right: 15px;
    padding: 5px;
    border-radius: 10px;
}

header a {
    color: var(--black);
    text-decoration: none;
    font-size: 18px;
}