.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  gap: 15px;
  border-top: 6px solid var(--azul);
}

.card h3 {
  font-size: 22px;
  font-weight: 600;
}

.card p {
  font-size: 16px;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}